@use './nullstyles.scss';

:root {
    --main_color: #ffffff;
    --invert_main_color: #252525;
    --background-color: #e0bea2;
    --size_color: #6f83a4;
    --size-color2: #f1ddaa;
    --like_color: #ffa4a4;
    --popup_header_color: #3d3d3d;
    --main_page_bg: #3d3d3d;
}

@font-face {
    font-family: "Raleway";
    src: url('../assets/fonts/static/Raleway-Light.ttf') format('trueType');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../assets/fonts/static/Raleway-ExtraLight.ttf') format('trueType');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../assets/fonts/static/Raleway-Bold.ttf') format('trueType');
    font-weight: 700;
    font-style: normal;
}
 
body {
    font-family: Raleway;
    font-weight: 200;
}