* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
}

.container {
    max-width: 1140px;
    marign: 0 auto;
}

a {
    color: #000;
    &:hover {
        color: #000;
    }
    &:active {
        color: #000;
    }
}

input, button, textarea {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
}

textarea {
    resize: none;
}