* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        color: #000000;
    }

    &:active {
        color: #000;
    }
}

input, button, textarea {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
}

textarea {
    resize: none;
}