* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    &:hover {
        color: #000;
    }
    &:active: {
        color: #000;
    }
}

input, button, textarea {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
}

textarea {
    resize: none;
}