* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--main-color);
}

.app {
    height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input, button, textarea {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
}

textarea {
    resize: none;
}

hr {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: normal;
}