.title {
  font-size: 54px;
  font-weight: var(--font-light);
}

.sub_title {
  font-size: 46px;
}


.decoration {
    &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--background-color);
  }

  &:last-child {
    &::before {
      background-color: transparent;
    }
  }
}
