.wrapper {
  position: relative;
}
.title {
  cursor: pointer;
}
.text {
  position: relative;
  cursor: pointer;
  margin-bottom: 6px;
  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--background-color);
  }
  &:last-child {
    &:before {
      background-color: transparent;
    }
  }
}
.icon {
  fill: var(--invert_main_color);
  background-color: transparent;
}

.body {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  margin-bottom: 5px;
  &::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--background-color);
    bottom: -2.5px;
    left: 0;
  }
}
.switcher {
  text-align: center;
  width: 47px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 300ms ease;
}
.open {
  top: 25px;
  opacity: 1;
  pointer-events: all;
}