.wrapper {
  position: relative;
}

.title {
  cursor: pointer;
}

.text {
  position: relative;
  cursor: pointer;
  margin: 6px;

  &:last-child {
    &::before {
      background-color: transparent;
    }
  }
}

.icon {
  fill: var(--invert-main-color);
  background-color: transparent;
  transition: 500ms ease;
}

.iconOpen {
  transform: rotate(180deg);
}

.body {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  margin-bottom: 5px;

}

.switcher {
  text-align: center;
  width: 47px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 300ms ease;
}

.open {
  top: 25px;
  opacity: 1;
  pointer-events: all;
}
