.body {
    width: 100%;
    height: 100%;
}

.bgImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
        max-height: 900px;
        flex: 1 1 33.333%;
        object-position: 0 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 20px;
}

.line {
    width: 120px;
    height: 1px;
    background-color: var(--main-color); 
    margin-bottom: 21px;
}

.item {
    display: flex;
    align-items: center;
    gap: 3px;
}

.subTitle {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon {
    transform: rotate(-90deg);
}