name: test, buil, lint
on: 
  push:
    branches:
      - master
  pull_request: 
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v5
      - name: install dependecies
        run: npm ci
      - name: build storybook
        run: npm run build-storybook
      - name: run unit tests
        run: npm run test
      - name: run ts linter
        run: npm run lint:ts
      - name: run scss linter
        run: npm run lint:scss
